parameters:
    #mysql config
    database_driver: 
    database_host: 
    database_port:
    database_name: 
    database_user: 
    database_password: 

    #mailer 
    mailer_transport: 
    mailer_host: 
    mailer_user: 
    mailer_password: 
    locale: 
    secret: 

    #serviio
    serviio_server: 
    serviio_password:    

    #tvdb
    tvdb_server: 
    tvdb_api_key: 
        
    #Betaseries
    bs_api_key:
    bs_server:
    bs_user:
    bs_md5_password:

    #RSS
    torrent_rss:
        
    #DEV
    use_assetic_controller:
    debug_toolbar:
    debug_redirects:
        
        
    